<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="monogatari" android:host="app.com" android:pathPrefix="/oauth2/redirect" />
    </intent-filter>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonogatariApp">

        <activity
            android:name=".ui.view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="monogatari" android:host="app.com" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.AiChatActivity" android:exported="false" />
        <activity android:name=".ui.view.PaymentActivity" android:exported="false" />
        <activity android:name=".ui.view.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.view.VerifyOtpActivity" android:exported="false" />
        <activity android:name=".ui.view.ProfileActivity" android:exported="false" />
        <activity android:name=".ui.view.StoryDetailActivity" android:exported="false" />
        <activity android:name=".ui.view.ReadingActivity" android:exported="false" />
    </application>

</manifest>