# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build systems
/target/
/.gradle/
/build/

# IDE - IntelliJ
.idea/
.run/
*.iml
*.iws

# IDE - Eclipse
.settings/
.classpath
.project
.metadata/

# Android specific
*.ap_
*.apk
*.dex
bin/
gen/
local.properties
.externalNativeBuild
.cxx
capture.png

# Environment & Secrets (CRITICAL)
application.properties
application.yml
.env
stripe-key.txt
google-api-key.json

# Operating System files
.DS_Store
Thumbs.db

/monogatari-server/uploads/